.table tbody tr {
    cursor: pointer;
}

.table tbody tr td:nth-last-child(2),
.table thead tr th:nth-last-child(2) {
    border-right: 2px solid rgb(33, 37, 41);
}

.icons_container {
    white-space: nowrap;
}

.icons_container i {
    margin: 1px;
}

.icons_meaning {
    margin-bottom: 1em;
}

.icons_meaning span {
    margin-right: 1em;
    white-space: nowrap;
    cursor: pointer;
}

.hidden_label {
    text-decoration: line-through;
}

.hidden_tuple {
    display: none;
}
